body {background-color:#836FFF;}

#botao-iniciar{
    text-align: center;
}

#texto-h1{
    text-align: center;
}
#instagram {
  max-width: 10px;
  

  
}
#github{    
  width: 100px;
  
  
}
#linkedin{    
  width: 100px;
  

}

