body {
  background-color:#836FFF;
}

section {
  background: white;
  border-radius: 10px;
  padding: 15px;
  width: 500px;
  margin: auto;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.705);
  text-align: center;
}
footer {
  font-style: italic;
}

#botao-iniciar{
    text-align: center;
}

#texto-h1{
    text-align: center;
    
}

#instagram img{  
  width:70px;
  height:70px;
  position:absolute;
  top:80%;
  left:45%;
  margin-top:-50px;
  margin-left:-50px;
}

#github img{    
  width:75px;
  height:75px;
  position:absolute;
  top:80%;
  left:51%;
  margin-top:-50px;
  margin-left:-50px;
}
#linkedin img{    
  width:77px;
  height:77px;
  position:absolute;
  top:79%;
  left:57%;
  margin-top:-50px;
  margin-left:-50px;

}

